<head>
  <link href="/ui/video-js.css" rel="stylesheet" />
  <script src="/ui/video.min.js"></script>
</head>

<body>
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    autoplay="autoplay"
    data-setup="{}"
  >
    <source src="plang:/channels/{{ tsFilePath }}" type="{{ tsFileType }}" />
  </video>